page-login {

  .text-input-clear-icon {
    right: 5px !important;
  }

  .logo {

    padding: 20px 0;

    img {
      margin-right: auto;
      margin-left: auto;
      width: 100px;
      height: 100px;
    }

  }
}
